#loading {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*z-index: 101;*/
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading-wrapper {
    position: relative;
    /*top: -50%;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loading-wrapper img {
    /*height: 82px;*/
    margin-bottom: 27px;
    /*background-color: gray;*/
    padding: 10px;
}

.path-marker{
    position: absolute;
    background: #bbdaea57;
    border-bottom: 1px #5f95fc solid;
}

.flow-open{
    background: #bbd9e9;
}

.prompt-flow-save:active{
    opacity: 0.5;
}

.margin-5{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.prompt-intro {
    line-height: 15px;
    font-size: 14px;
    word-break: break-all;
}

#yaml-exception{
    white-space: pre;
    word-wrap: break-word;
    font-size: 12px;
    margin-bottom: 20px;
}